.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  &--margin {
    margin: -15px;

    @media screen and (max-width: 767px) {
      margin: 0;
    }
  }
  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}
