.team {
  background-color: var(--secondary-background-color);
  width: 100%;

  &__img {
    margin-left: auto;
    margin-right: auto;
  }
  &__title {
    margin-bottom: 30px;
  }
  &__worker-name {
    font-weight: $font-weight-500;
    font-size: $font-size-16;
    line-height: 1.2;
    text-align: center;
    color: var(--heading-text-color);
  }
  &__worker-post {
    font-size: 16px;
    line-height: $line-height-120;
    text-align: center;
    margin-bottom: 16px;
  }
  &__list {
    display: block;
  }
  &__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 30px;
  }

  &__worker {
    background-color: var(--color-for-colored-backgraund);
    padding-top: 30px;
    padding-bottom: 24px;
  }
  &__worker-name {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 767px) {
  .team__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__img {
    width: 354px;
    height: 374px;
  }
  .team__list {
    margin: -15px;
  }
  .team__item {
    margin-right: 15px;
    margin-bottom: 15px;
    flex-basis: calc(100% / 2- 60px);
  }
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
  .team__img {
    width: 270px;
    height: 260px;
  }
  .team__worker {
    padding-bottom: 30px;
  }
  .team__item {
    margin-right: 30px;
  }
  .team__item:last-child {
    margin-right: 0;
  }
}
