$font-family-Roboto: 'Roboto', 'Arial', sans-serif;
$font-family-Raleway: 'Raleway', 'Arial', sans-serif;
$font-style: normal;
$font-weight-400: 400;
$font-weight-700: 700;
$font-weight-900: 900;
$font-weight-500: 500;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-34: 34px;
$font-size-36: 36px;
$font-size-26: 26px;
$font-size-40: 40px;
$font-size-44: 44px;

$line-height-114: 1.14;
$line-height-117: 1.17;
$line-height-120: 1.2;
$line-height-140: 1.4;
$line-height-160: 1.6;
$line-height-171: 1.71;
$line-height-190: 1.9;
$line-height-200: 2;
$letter-spacing-001: 0.01em;
$letter-spacing-002: 0.02em;
$letter-spacing-003: 0.03em;
$letter-spacing-006: 0.06em;
