%button {
  font-style: $font-style;
  font-weight: $font-weight-700;
  font-size: $font-size-16;
  line-height: $line-height-190;
  letter-spacing: $letter-spacing-006;
  cursor: pointer;
  align-items: center;
}
