:root {
  --heading-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --color-for-colored-backgraund: #ffffff;
  --secondary-background-color: #f5f4fa;
  --icon-color: #afb1b8;
}
